{% extends 'Core.html' %}

{% block headSection %}
<link rel="stylesheet" href="/static/forumstyle.css">
<link rel="stylesheet" href="/static/forumpoststyle.css">
{% endblock %}

{% block content %}
<!-- 
  <h1>Forum Thread</h1>
  {% if isAuthenticated %}
  <button><a href="{% url 'Public:ForumEditPage' Post.slug %}">Edit</a></button>
  {% endif %}
  {% if isAuthenticated %}
  <form action="{% url 'Public:ForumDeletePage' Post.slug %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
  </form>
  {% endif %}

    <hr/>
    <h2>{{ Post.Title }}</h2>
    <p>{{ Post.Content }}</p>
    <p>By: {{ Post.Profile.Username }}</p>
    <p>Created: {{ Post.dateCreated }}</p>
    <p>Updated: {{ Post.dateModified }}</p>

    {% if Post.Attachments.first %}
      <p>Attachments:</p>
      {% for attachment in Post.Attachments.all %}
        <img src="{{ attachment.File.url }}" width="100" height="100"/>
      {% endfor %}
    {% endif %}

    <br/><br/>

    {% if isAuthenticated %}
      <form action="{% url 'Public:ForumActionPage' Post.slug %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="Action" value="Upvote">
        {{ Post.UpvotesCount }}
        <input type="submit" value="Upvote">
      </form>

      <form action="{% url 'Public:ForumActionPage' Post.slug %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="Action" value="Downvote">
        {{ Post.DownVotesCount }}
        <input type="submit" value="Downvote">
      </form>
    {% else %}
      {{ Post.UpvotesCount }} - Upvotes
      {{ Post.DownVotesCount }} - Downvotes
    {% endif %}

    {{ Post.CommentsCount }} - Comments

    <hr/>

    <h2>Comments</h2>
    
    {% if isAuthenticated %}

      <p>
        {% if Commented %}
          Edit your comment
        {% else %}
          Add Comment
        {% endif %}
      </p>

      <form action="{% url 'Public:ForumAddComment' Post.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="content">Content:</label>

        {% if Commented %}
          <textarea id="content" name="Content" rows="5" cols="50" required>{{ UserComment.Content }}</textarea>
        {% else %}
          <textarea id="content" name="Content" required></textarea>
        {% endif %}

        <input type="file" id="Attachments" name="Attachments" accept="image/*" multiple>
        <br><br/>
        {% if Commented %}
          <input type="submit" value="Edit Comment">
        {% else %}
          <input type="submit" value="Add Comment">
        {% endif %}
      </form>

      {% if UserComment.Attachments.first %}
        <p>Attachments:</p>
        {% for attachment in UserComment.Attachments.all %}
          <img src="{{ attachment.File.url }}" width="100" height="100"/>
        {% endfor %}
      {% endif %}

      <hr/>

    {% else %}
      <h4>Login to post your comments</h4>
    {% endif %}

    {% for comment in Comments %}
      <hr/>
      <p>{{ comment.Content }}</p>
      <p>By: {{ comment.Profile.Username }}</p>
      <p>Created: {{ comment.dateCreated }}</p>
      <p>Updated: {{ comment.dateModified }}</p>

      {% if comment.Attachments.first %}
        <p>Attachments:</p>
        {% for attachment in comment.Attachments.all %}
          <img src="{{ attachment.File.url }}" width="100" height="100"/>
        {% endfor %}
      {% endif %}

      <br/><br/>

      {% if comment.Profile.Username|lower == Account.Username|lower %}
      <button><a href="{% url 'Public:ForumPage' %}">Edit</a></button>
      <button><a href="{% url 'Public:ForumPage' %}">Delete</a></button>
      {% endif %}

      <hr/>
      <br/><br/>
    {% empty %}
      <h4>No Comments found.</h4>
    {% endfor %} -->


    <div class="post-container">
        <div class="post">
              <div class="post-author">{{ Post.Profile.Username }}</div>
              <div class="post-header">{{ Post.Title }}</div>
              <div class="post-content">{{ Post.Content }}</div>
              <div class="post-image">
                {% if Post.Attachments.first %}
                  {% for attachment in Post.Attachments.all %}
                    <img src="{{ attachment.File.url }}" width="100" height="100"/>
                  {% endfor %}
                {% endif %}
              </div>
              <div class="post-actions">
                  
                  <!-- <button href="{% url 'Public:ForumDetailPage' Post.slug %}">
                      <span class="upvote-count">{{ Post.UpvotesCount }}</span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                          <path fill="currentColor"
                              d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625zM15 12h-1v8h-4v-8H6.081L12 4.601L17.919 12z" />
                      </svg>
                  </button> -->


                  {% if isAuthenticated %}
                    <form action="{% url 'Public:ForumActionPage' Post.slug %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="Action" value="Upvote">
                      <button type="submit">
                        <span class="upvote-count">{{ Post.UpvotesCount }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625zM15 12h-1v8h-4v-8H6.081L12 4.601L17.919 12z" />
                        </svg>
                      </button>
                    </form>
                  {% else %}
                  <button onclick="alert('Login to upvote.')">
                    <span class="upvote-count">{{ Post.UpvotesCount }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625zM15 12h-1v8h-4v-8H6.081L12 4.601L17.919 12z" />
                    </svg>
                  </button>
                  {% endif %}

                  <button>
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                          <path fill="currentColor"
                              d="M6 14h12v-2H6zm0-3h12V9H6zm0-3h12V6H6zM4 18q-.825 0-1.412-.587T2 16V4q0-.825.588-1.412T4 2h16q.825 0 1.413.588T22 4v18l-4-4z" />
                      </svg>
                  </button>
                  <button>
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                          <path fill="currentColor"
                              d="M18 22q-1.25 0-2.125-.875T15 19q0-.175.025-.363t.075-.337l-7.05-4.1q-.425.375-.95.588T6 15q-1.25 0-2.125-.875T3 12t.875-2.125T6 9q.575 0 1.1.213t.95.587l7.05-4.1q-.05-.15-.075-.337T15 5q0-1.25.875-2.125T18 2t2.125.875T21 5t-.875 2.125T18 8q-.575 0-1.1-.212t-.95-.588L8.9 11.3q.05.15.075.338T9 12t-.025.363t-.075.337l7.05 4.1q.425-.375.95-.587T18 16q1.25 0 2.125.875T21 19t-.875 2.125T18 22" />
                      </svg>
                  </button>
              </div>
          </div>

          <div class="comments">
              <div class="add-comment">
                <form action="{% url 'Public:ForumAddComment' Post.slug %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}

                  {% if Commented %}
                    <input type="text"  id="content" name="Content"  placeholder="Add a comment" value="{{ UserComment.Content }}">
                  {% else %}
                    <input type="text"  id="content" name="Content" placeholder="Add a comment">
                  {% endif %}

                  <input type="file" id="Attachments" name="Attachments" accept="image/*" multiple hidden>
                  <input type="submit" hidden>

                </form>
              </div>

              {% if Commented %}
                <div class="comment">
                    <div class="comment-author">{{ UserComment.Profile.Username }}</div>
                    <div class="comment-content">{{ UserComment.Content }}</div>
                </div>
              {% endif %}

              {% for comment in Comments %}
              <div class="comment">
                  <div class="comment-author">{{ comment.Profile.Username }}</div>
                  <div class="comment-content">{{ comment.Content }}</div>
              </div>
              {% empty %}
                <h4>No Comments found.</h4>
              {% endfor %}
              
              <!-- Add more comments here -->
          </div>
      </div>

{% endblock %}