body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    padding: 20px;
}

.contact-form-container {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.contact-form-container h1 {
    margin-bottom: 40px;
    text-align: center;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
}

.contact-form-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form-container input,
.contact-form-container textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    /* Remove borders */
    border-bottom: 2px solid #ccc;
    /* Add bottom border for visual effect */
    border-radius: 0;
    /* Remove border radius */
    font-size: 16px;
}

.contact-form-container textarea {
    resize: vertical;
    height: auto;
}

.contact-form-container input:focus,
.contact-form-container textarea:focus {
    outline: none;
    /* Remove outline on focus */
    border-bottom: 2px solid #ff9933;
    /* Change bottom border color on focus */
}

.primary-button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 20px auto;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contact-info img {
    height: 24px;
    margin-right: 10px;
}

.contact-info span {
    font-size: 16px;
    color: #555;
}