<!-- <br/>

<h1>Create Account</h1>
<form action="{% url 'Authenticate:CreateAccount' %}" method="post">
{% csrf_token %}
<label for="firstname">Firstname:</label>
  <input type="text" id="firstname" name="firstname" required>
  <br>
  <label for="lastname">Lastname:</label>
  <input type="text" id="lastname" name="lastname" required>
  <br>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <br>
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required>
  <br>
  <input type="submit" value="Create Account">
</form>
<a href="{% url 'Authenticate:LoginPage' %}">Login</a> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/loginstyle.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  
{% if request.GET.error %}
<p>Error: {{ request.GET.error }}</p>
{% endif %}

    <div class="container">
        <form class="login-form" action="{% url 'Authenticate:CreateAccount' %}" method="post">
          {% csrf_token %}
            <h2>Create Account</h2>
            <div class="input-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" placeholder="Username">
          </div>
          <div class="input-group">
            <label for="firstname">Firstname</label>
            <input type="text" id="firstname" name="firstname" required placeholder="Firstname">
          </div>
          <div class="input-group">
            <label for="lastname">Lastname</label>
            <input type="text" id="lastname" name="lastname" required placeholder="Lastname">
          </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <div class="input-group">
              <label for="password">Confirm Password</label>
              <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirm Password">
            </div>
            <button type="submit" class="primary-button">SIGN UP</button>
            <p class="switch">Already have an account? <br><a href="{% url 'Authenticate:LoginPage' %}">Log In</a></p>
        </form>
    </div>
</body>

</html>
