<!-- {% if request.GET.error %}
    <p>Error: {{ request.GET.error }}</p>
{% endif %}

<br/>

<h1>Login</h1>
<form action="{% url 'Authenticate:LoginPage' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br><br/>
    <input type="submit" value="Login">
    <button>
        <a href="{% url 'Authenticate:CreateAccount' %}">Create Account</a>
    </button>
</form> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/loginstyle.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    {% if request.GET.error %}
        <p>Error: {{ request.GET.error }}</p>
    {% endif %}

    <div class="container">
        <form class="login-form" action="{% url 'Authenticate:LoginPage' %}" method="post">
            {% csrf_token %}
            <h2>Log In</h2>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" type="text" id="username" name="username" required placeholder="Username">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password">
                <a href="#" class="forgot-password">Forgot Password?</a>
            </div>
            <div class="input-group remember-me">
                <input type="checkbox" id="remember">
                <label for="remember">Remember me?</label>
            </div>
            <button type="submit" class="primary-button">LOG IN</button>
            <p class="switch">Don't have an account? <br><a href="{% url 'Authenticate:CreateAccount' %}">Create an account</a></p>
        </form>
    </div>
</body>

</html>