{% extends 'Core.html' %}

{% block headSection %}
<link rel="stylesheet" href="/static/about_.css">
{% endblock %}

{% block content %}

<div class="about-section">
  <div class="content">
      <h1>AIM/ MISSION/ VISION</h1>
      <p>We are a group of like-minded individuals working to provide cloud solutions for every platform 
        and for every type of user. We hope to create more products that will enrich the cloud experience for all our users.</p>
  </div>
  <div class="single-image">
      <img src="https://via.placeholder.com/400" alt="Cloud Storage" class="hero-image" width="250px">
  </div>
</div>

<div class="features-section">
  <div class="feature-heading">MEET THE TEAM</div>
  <div class="feature-container">
      <div class="feature">
          <div class="feature-icon"></div>
          <div class="feature-title">Feature 1</div>
      </div>
      <div class="feature">
          <div class="feature-icon">

          </div>
          <div class="feature-title">Feature 2</div>
      </div>
      <div class="feature">
          <div class="feature-icon"></div>
          <div class="feature-title">Feature 3</div>
      </div>
  </div>
</div>

{% endblock %}